/*  CCS перемение*/
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --color-text-white: #ffffff 
}

ul {
    list-style: none;
}

.body {
    background-color: #ffffff;
    color: var(--primary-text-color) 
    font-family: 'roboto';
}  

/* site nav */
.title-web {
    color: blue;
    font-size: 26px;
}

.title-studio {
    color: black;
    font-size: 26px;
}
/*  */
.site-nav .link {
    color: #212121;
    font-size: 14;
} 

.auth-nav .link{
    color: var(--primary-text-color);
    font-size:14px;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196f3;
    }
.hearo  h1 {
        font-size: 44px;
    }


    /* Особености */

.feature > h3  {
       color: var(--title-text-color); 
       font-size: 14px;
    }

.feature > p {
    color: var(--primary-text-color);
}

.about-us  p {
    width: 370px;
    height: 70px; 
    text-align: center;
    font-size: 14px;
    color: var(--color-text-white);
    background-color: rgba(47, 48, 58,0.8); 
}
.team .team-prof  {
    color: var(--primary-text-color);
    font-size: 16px;
}
.team .team-name {
    font-size:  16px;
    color: var(--title-text-color);
}
.title-main {
    font-size: 36px;
    color: var(--title-text-color);
}
/* promo */
.promo  h3 {
    font-size: 14px;
    color: var(--title-text-color);
}
.promo  p {
    font-size: 14px;
    color: var(--primary-text-color);
}

    